@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="app">
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Hostname</th>
            <th>IP</th>
            <th>Services</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="server in servers">
            <td>{{ server.id }}</td>
            <td>{{ server.serverTypeName }}</td>
            <td>{{ server.serverHostName }}</td>
            <td>{{ server.ipAddress }}</td>
            <td>###</td>
            <td>{{ server.description }}</td>
        </tr>
    </tbody>
</table>
</div>

<script type="text/javascript">
    const app = Vue.createApp({
        el: '#app',
        data() {
            return {
                servers: null
            }
        },
        created() {
            axios.get('/api/servers/all')
                .then(response => { this.servers = response.data })
        }
    });
    app.mount('#app');
</script>
